#p1{
    text-align: justify;
}

#label1{
    font-size: small;
    background-color: aliceblue;
}
#label2{
    font-size: small;
    background-color: aliceblue;
}
#label3{
    font-size: small;
    background-color: aliceblue;
}
#encabezadoc{
    background-color: rgb(107, 175, 235);
}

#pjs{
    font-size: small;
}